<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <script src="{{ url_for('static', filename='js/physarum.js') }}"></script>
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="grid-container">
        <canvas id="grid-canvas"></canvas>
      </div>
      <div class="menu-container">
        <button id="confirm-button">Confirm</button>
      </div>
    </div>
    <script>
      <!-- drawGrid(10); -->
      // setupInteraction();
      // document
        // .getElementById("confirm-button")
        // .addEventListener("click", submitSelectedCells);
    </script>
  </body>
</html>
